.env
*.env
__pycache__/
*.py[cod]
venv/
env/
.venv/
data/raw/
data/processed/
*.json
*.csv
*.jpg
*.jpeg
*.png
logs/
*.log
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/
*.pt
runs/
.DS_Store
Thumbs.db
session/